# NOTE: source local helper script from repo for developing,
# actual usage will be source_url <url> <integrity-hash>
. ./scripts/direnv-project.sh

watch_file "TOOL_VERSIONS.env"

dotenv TOOL_VERSIONS.env

echo "!!! debug env: NODE_VERSION=${NODE_VERSION}"

layout_nvm