# shellcheck disable=SC2148
strict_env
use flake

# IMPORTANT: load the (optional ) local .env files last, to make sure it cant interfer the other config
# (the .env file is only supposed to contain env vars for the application, not for tools and platforms)
dotenv_if_exists .env
