/* inspired by:
  * https://www.swyx.io/css-100-bytes
*/

html {
  max-width: 80ch;
  padding: 2em 2em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  margin: 0;
  font-family: monospace;
}

/* dark mode */
body {
  background-color: #141414;
  color: #8fc2c7;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #a1e5e8;
    color: #0a0c0c;
  }
}

/* typo */
small {
  font-size: 0.8em;
}

/* tables */
table {
  text-align: left;
}
th,
td {
  vertical-align: text-top;
  padding-inline-end: 1em;
}
