/* inspired by:
  * https://www.swyx.io/css-100-bytes
*/

html {
  max-width: 80ch;
  padding: 2em 2em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  margin: 0;
  font-family: monospace;
}

/* dark mode */
body {
  background-color: rgba(0, 0, 0, 0.92);
  color: rgba(255, 255, 255, 0.86);
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.95);
  }
}

/* typo */
small {
  font-size: 0.8em;
}

/* tables */
table {
  text-align: left;
}
th,
td {
  padding-inline-end: 1em;
}
