name: Build & Lint

on:
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime: [node, deno]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        if: matrix.runtime == 'node'
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"

      - name: Setup Deno
        if: matrix.runtime == 'deno'
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install pnpm
        run: npm install -g pnpm@10.13.1

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: Install shellcheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      - name: Run lint
        run: pnpm lint
